<div class="dialog">
        <button color="secondary" mat-dialog-close>
          <i class="fas fa-times" aria-hidden="true"></i>
        </button>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <h2 mat-dialog-title>
            <img [src]="logo" /> <span data-testid="title">Fitness Studio</span>
          </h2>
          <p class="sub-header">Please enter the e-mail address associated with your account</p>
          <mat-dialog-content>
            <div class="row justify-content-center">
              <div class="col-md-12">
                <div class="row">
                  <mat-form-field class="col" [ngClass]="routeAnimationsElements">
                    <input
                      autocomplete="off"
                      matInput
                      placeholder="Email"
                      formControlName="email"
                      type="email"
                    />
                    <mat-error *ngIf="resetPasswordForm.get('email').hasError('required')">
                      email is required
                    </mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('email').hasError('email')">
                      email should be valid
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </mat-dialog-content>
          <mat-dialog-actions>
            <button
              type="submit"
              mat-raised-button
              color="accent"
              [disabled]="resetPasswordForm.invalid"
              style="width:100%"
            >
              Reset
            </button>
          </mat-dialog-actions>
        </form>
      </div>
      