@import "../../../styles-variables.scss";

.center {
  text-align: center;
}
.block {
  display: block;
}
.mb-50 {
  margin-bottom: 50px;
}
.filter {
  margin-top: 10px;
  margin-bottom: 10px;
}
.pl-15{
  padding-left: 15px;
}
.mat-select{
  padding: 10px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .filter{
    text-align: center;
    mat-select{
      max-width: 450px;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {

}

.studios {
  .container {
    max-width: 95%;
  }
  .studio-card {
    max-width: 450px;
    margin: 10px auto;
    border-radius: 0;
    mat-card-content {
      margin: 0 -10px 0 -10px;
      h3 {
        font-weight: 500;
        font-size: 1rem;
      }
      .review{
        font-size: 0.7rem;
        padding-left: 15px; 
      }
    }
  }
}
