<div class="studios">
    <div class="container mb-50">
      <div class="row filter">
        <div class="col-md-3">
          <mat-select
            [(ngModel)]="selectedFitnessType"
            placeholder="Fitness type"
            multiple
            (selectionChange)="fitnessTypeChange()"
          >
            <mat-option *ngFor="let ft of fitnessType" [value]="ft">{{
              ft
            }}</mat-option>
          </mat-select>
        </div>
        <div class="col-md-6">
          <ygs-search-input (keyupAction)="search($event)"></ygs-search-input>
        </div>
        <div class="col-md-3">
          <mat-select
            placeholder="Location"
            [(ngModel)]="selectedLocation"
            (selectionChange)="locationChange()"
          >
            <mat-option *ngFor="let l of Location" [value]="l">{{
              l
            }}</mat-option>
          </mat-select>
        </div>
      </div>
      <div class="row">
        <div
          class="col-md-3"
          *ngFor="let std of studios"
        >
          <mat-card class="studio-card">
            <a routerLink="/studio/{{std.name}}">
              <img mat-card-image [src]="std.src" alt="Photo of a Shiba Inu" />
            </a>
            <mat-card-content>
              <a routerLink="/studio/{{std.name}}">
                <h3>{{ std.name | limitTo }}</h3>
              </a>
              <p>{{ std.location }}</p>
              <p>
                  <i class="fa-star" [ngClass]="{ 'fas': std.retings >= 1, 'far': std.retings < 1 }"></i> 
                  <i class="fa-star" [ngClass]="{ 'fas': std.retings >= 2, 'far': std.retings < 2 }"></i>
                  <i class="fa-star" [ngClass]="{ 'fas': std.retings >= 3, 'far': std.retings < 3 }"></i>
                  <i class="fa-star" [ngClass]="{ 'fas': std.retings >= 4, 'far': std.retings < 4 }"></i>
                  <i class="fa-star" [ngClass]="{ 'fas': std.retings >= 5, 'far': std.retings < 5 }"></i>
                  <span class="review">{{ std.retings }} reviews</span>
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  