<div class="container-fluid single-studio">
    <div class="row">
      <div class="col-md-6">
        <div class="section">
          <carousel [interval]="60000" [(activeSlide)]="activeSlideIndex">
            <slide *ngFor="let slide of slides; let index = index">
              <img
                [src]="slide.image"
                alt="image slide"
                style="display: block; width: 100%;"
              />
            </slide>
          </carousel>
        </div>
      </div>
      <div class="col-md-6">
        <div class="studio-header">
          <div>
            <img [src]="studioInfo.logo" alt="logo" class="logo" />
          </div>
          <div class="mt10">
            <span class="small-font">{{ studioInfo.category }}</span>
          </div>
          <div class="mt10">
            <h2>{{ studioInfo.name }}</h2>
          </div>
          <div class="mt10 location">
            <a
              target="_blank"
              href="https://www.google.com/maps/search/?api=1&query={{
                studioInfo.location
              }}"
            >
              <img
                class="icon"
                src="../../../assets/location.png"
                alt="location"
              /><span class="text">{{ studioInfo.location }}</span>
            </a>
          </div>
          <div class="mt10 location">
            <a href="tel:{{ studioInfo.phone }}">
              <i class="fas fa-phone-square" aria-hidden="true"></i>
              <span class="text"> {{ studioInfo.phone }}</span>
            </a>
          </div>
          <div class="mt10">
            <i
              class="fa-star"
              [ngClass]="{
                fas: studioInfo.ratings >= 1,
                far: studioInfo.ratings < 1
              }"
            ></i>
            <i
              class="fa-star"
              [ngClass]="{
                fas: studioInfo.ratings >= 2,
                far: studioInfo.ratings < 2
              }"
            ></i>
            <i
              class="fa-star"
              [ngClass]="{
                fas: studioInfo.ratings >= 3,
                far: studioInfo.ratings < 3
              }"
            ></i>
            <i
              class="fa-star"
              [ngClass]="{
                fas: studioInfo.ratings >= 4,
                far: studioInfo.ratings < 4
              }"
            ></i>
            <i
              class="fa-star"
              [ngClass]="{
                fas: studioInfo.ratings >= 5,
                far: studioInfo.ratings < 5
              }"
            ></i>
            <span class="review">{{ studioInfo.ratings }} reviews</span>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="m-10 membership">
      <hr />
      <h4 class="title">Membership</h4>
      <br />
      <div class="row">
        <div class="col-md-3" *ngFor="let m of studioInfo.memberships">
          <mat-card class="membership-card">
            <mat-card-header>
              <div mat-card-avatar class="membership-header-image"></div>
              <mat-card-title
                >{{ m.title }}
                <sub *ngIf="m.subtitle">{{ m.subtitle }}</sub></mat-card-title
              >
              <mat-card-subtitle>{{ m.category }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{ m.description }}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <h4 class="price" *ngIf="m.offeredPrice">
                &#x20b9;{{ m.offeredPrice
                }}<sub
                  ><s>&#x20b9;{{ m.actualPrice }}</s></sub
                >
              </h4>
              <h4 class="price" *ngIf="!m.offeredPrice">
                &#x20b9;{{ m.actualPrice }}
              </h4>
              <button
                mat-raised-button
                color="accent"
                class="c-btn"
                (click)="buyMembership(m.title)"
              >
                Buy
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
    <br />
    <div class="m-10 classes">
      <hr />
      <h4 class="c-title">Classes</h4>
      <div  class="date-picker">
        <span class="class-date">{{classDate}}</span>
          <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" (dateChange)="dateChange($event.value)" placeholder="select date">
          <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
          <mat-datepicker #picker color="accent"></mat-datepicker>
      </div>       
      <br />
      <div class="row">
        <div class="col-md-3" *ngFor="let cls of studioInfo.classes" >
          <mat-card class="membership-card">
            <mat-card-header>
              <div mat-card-avatar class="membership-header-image"></div>
              <mat-card-title><a routerLink="/class/{{cls.name}}"> {{ cls.name }} </a>  </mat-card-title>
              <mat-card-subtitle>{{ cls.category }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-subtitle class="time"
              >{{cls.time}} / {{cls.trainer}}</mat-card-subtitle
            >
            <mat-card-content>
              <p>
                {{ cls.description }}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <h4 class="price" *ngIf="cls.offeredPrice">
                &#x20b9;{{ cls.offeredPrice
                }}<sub
                  ><s>&#x20b9;{{ cls.actualPrice }}</s></sub
                >
              </h4>
              <h4 class="price" *ngIf="!cls.offeredPrice">
                &#x20b9;{{ cls.actualPrice }}
              </h4>
              <button
                mat-raised-button
                color="accent"
                class="c-btn"
                (click)="bookClass(cls.name)"
              >
                Book
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
    <br />
    <div class="m-10">
      <hr />
      <h4 class="title">Instructors</h4>
      <br />
      <div class="row">
        <div
          class="col-md-3 instructor"
          *ngFor="let ins of studioInfo.instructors"
        >
          <div class="img">
            <img *ngIf="ins.image" [src]="ins.image" alt="trainer image" />
            <i *ngIf="!ins.image" class="fas fa-user-circle fa-6x"></i>
          </div>
          <div>
            <h5 class="name">{{ ins.name }}</h5>
            <p class="category">{{ ins.catogory }}</p>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="m-10">
      <hr />
      <h4 class="title">About the studio</h4>
      <br />
      <div class="row">
        <div class="col-md-8 col-md-offset-2 ">
          <p class="description">
            It is a long established fact that a reader will be distracted by the
            readable content of a page when looking at its layout. The point of
            using Lorem Ipsum is that it has a more-or-less normal distribution of
            letters, as opposed to using 'Content here, content here', making it
            look like readable English. Many desktop publishing packages and web
            page editors now use Lorem Ipsum as their default model text, and a
            search for 'lorem ipsum' will uncover many web sites still in their
            infancy. Various versions have evolved over the years, sometimes by
            accident, sometimes on purpose (injected humour and the like).
          </p>
        </div>
      </div>
    </div>
    <br />
    <div class="m-10">
      <hr />
      <h4>Amenities</h4>
      <br />
      <div class="row text-center">
        <div class="col-md-3">
          <img src="../../../assets/shower.svg" width="150px" alt="shower" />
          <span class="amentites-text description">Shower</span>
        </div>
        <div class="col-md-3">
          <img src="../../../assets/lockers.svg" width="150px" alt="lockers" />
          <span class="amentites-text description">Lockers</span>
        </div>
        <div class="col-md-3">
          <img src="../../../assets/yoga-mat.svg" width="150px" alt="yoga mat" />
          <span class="amentites-text description">Mat</span>
        </div>
      </div>
    </div>
  </div>
  